.game-settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #111;
    padding: 10px 30px 15px 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin: 1vw 5vw;
    max-width: 700px;
}

.game-settings-container .game-settings-title {
    margin-block: 10px;
    text-align: center;
}

.game-settings-container .game-settings {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-settings .game-setting {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.game-settings .game-setting.row {
    flex-direction: row;
}

.game-setting > * {
    margin: 2px 15px;
}

.game-settings-container .btn:not(.selected) {
    opacity: 0.5;
}

.btn.easy {
    background-image: linear-gradient(to bottom, #02db02, #008e00);
    box-shadow: #006200 0 3px;
}

.btn.easy:hover {
    background-image: linear-gradient(to bottom, #02db02, #007700);
}

.btn.medium {
    background-image: linear-gradient(to bottom, #ffa500, #ca6500);
    box-shadow: #9f5500 0 3px;
}

.btn.medium:hover {
    background-image: linear-gradient(to bottom, #ffa500, #ac5c01);
}

.btn.hard {
    background-image: linear-gradient(to bottom, #ff0000, #b50000);
    box-shadow: #7f0000 0 3px;
}

.btn.hard:hover {
    background-image: linear-gradient(to bottom, #ff0000, #9f0000);
}

.game-setting input[type=number] {
    text-align: center;
    margin: 10px;
}