.intro-container {
    background: #111;
    padding: 10px 30px 15px 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin: 1vw 5vw;
    max-width: 700px;
}

.intro-container .intro-title {
    text-align: center;
}