.game-mode-selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-mode-selection-container .game-mode-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.game-mode-list .game-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    border: 3px solid white;
    border-radius: 20px;
    cursor: pointer;
    background: #111;
    width: 30vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease;
}

.game-mode-list .game-mode.selected {
    border-color: gold;
    transform: scale(1.05);
}

.game-mode.selected .game-mode-title {
    color: gold;
}

.game-mode .game-mode-icon {
    font-size: 45px;
}

.game-mode .game-mode-description {
    text-align: center;
}