.game-container, .table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-container .guessing-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.game-container .guessing-panel .btn {
    padding: 8px 16px;
    font-size: 18px;
}

.game-container .board-container, .game-container .hole-container {
    border: 5px solid rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    margin: 0.5rem;
    padding: 2px 5px;
}