.overlay-banner {
    position: fixed;
    z-index: 1;
    text-align: center;
    color: gold;
    text-shadow: 0 0 8px rgba(0, 0, 0, 1);
}

.overlay-banner-title {
    font-size: 85px;
}

.overlay-banner-subtitle {
    font-size: 40px;
    margin-block: 1rem;
}

.overlay-banner-duration {
    font-size: 30px;
}