.streak-master-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.streak-master-container .answer-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.streak-master-container .answer-panel .btn {
    padding: 8px 16px;
    font-size: 18px;
}

.streak-master-container .board-container, .streak-master-container .hole-container {
    border: 5px solid rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    margin: 0.5rem;
    padding: 2px 5px;
}