.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* Options */
.options-container {
    display: flex;
    position: fixed;
    right: 0;
    top: 20px;
    z-index: 10;
}

.gear-container {
    height: fit-content;
    width: fit-content;
    background: #111;
    border-radius: 5px 0 0 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    clip-path: inset(-2px 0 -2px -2px);
    cursor: pointer;
    position: absolute;
    right: 190px;
    transition: right 0.5s;
}

.options-panel.slide-left + .gear-container {
    right: 0;
}

.gear {
    font-size: 45px;
    padding-inline: 0.75rem;
    top: 0;
}

.options-panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 100%;
    padding: 15px 20px;
    background: #111;
    border-radius: 0 0 0 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    width: 150px;
    opacity: 0;
    transition: opacity 0s 0.5s;
}

.options-panel > button {
    margin: 2px;
}

.options-title {
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
}

/* Board and Hole */
.board-container, .hole-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board, .hole {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.round-name {
    margin-block: 0.25rem;
    font-size: 20px;
}

/* Cards */
.card-container {
    margin: 10px;
}

/* Buttons */
.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn {
    margin: 5px;
    background-image: linear-gradient(to bottom, #FF7E31, #E62C03);
    box-shadow: #be2705 0 3px;
    border-radius: 9px;
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    font-family: inherit;
    font-size: 20px;
}

.btn:hover:not(:disabled) {
    background-image: linear-gradient(to bottom, #FF7E31, #d02702);
    text-decoration: none;
    cursor: pointer;
}

.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}