.probabilities-panel {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 100%;
    bottom: 20px;
    z-index: 10;
    padding: 0.75rem 1.5rem;
    background: #111;
    border-radius: 5px 0 0 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0s 0.5s;
}

.probabilities-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.probabilities-title {
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
}

.probability {
    margin-block: 2px;
    display: flex;
    justify-content: space-between;
}

.ranking {
    width: 10rem;
}

.bar-container {
    margin-left: 15px;
    width: 100px;
    height: 1rem;
}

.bar {
    background: white;
    height: 100%;
    transition: width 0.5s, background-color 0.5s linear;
}