@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    margin: 0;
    background: radial-gradient(circle, rgb(38, 150, 25) 0%, rgb(18, 72, 12) 100%);
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-family: 'VT323', monospace;
}

h2 {
    margin-block: 0.75rem;
    font-size: 40px;
}

.round-name {
    margin-block: 0.25rem;
    font-size: 20px;
}

button {
    margin: 2px 5px;
    background-image: linear-gradient(to bottom, #FF7E31, #E62C03);
    box-shadow: #be2705 0 3px;
    border-radius: 9px;
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    font-family: inherit;
    font-size: 20px;
}

button:hover {
    background-image: linear-gradient(to bottom, #FF7E31, #d02702);
    text-decoration: none;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.board-container, .hole-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board, .hole {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.card-container {
    margin: 10px;
}