@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    margin: 0;
    background: radial-gradient(circle, rgb(38, 150, 25) 0%, rgb(18, 72, 12) 100%);
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-family: 'VT323', monospace;
}

h2 {
    margin-block: 0.75rem;
    font-size: 40px;
}

.slide-left {
    animation: slide-left 0.5s forwards;
}

.slide-right {
    opacity: 1 !important;
    transition: opacity 0.01s !important;
    animation: slide-right 0.5s forwards;
}
    
@keyframes slide-left {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}
    
@keyframes slide-right {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}